<%= link_to comment.create_preview, subforum_post_comment_url(subforum, post, comment) %>
<%= comment.author.username %>
<section class="comment-score">
  Points: (<%= comment.points %>)
  <%= button_to "Upvote", upvote_subforum_post_comment_url(subforum, post, comment) %>
  <%= button_to "Downvote", downvote_subforum_post_comment_url(subforum, post, comment) %>
</section>

<% responses = comments_grouped_by_parent[comment.id] %>

<% if responses.length > 0 %>
  <section class="responses">
    <ul>
      <% responses.each do |child_comment| %>
        <li>
          <%= render "comments/comment",
            subforum: subforum,
            post: post,
            comment: child_comment,
            comments_grouped_by_parent: comments_grouped_by_parent %>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
