<!-- for updating and creating comments -->

<% action_url = comment.persisted? ? subforum_post_comment_url(comment) : subforum_post_comments_url %>
<% http_method = comment.persisted? ? "PATCH" : "POST" %>

<form action="<%= action_url %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="_method" value="<%= http_method %>">

  <input type="hidden" name="comment[parent_comment_id]" value="<%= comment.parent_comment_id %>">

  <label for="body">Comment</label>
  <textarea id="body" name="comment[body]" placeholder="Write a comment"><%= comment.body %></textarea>

  <input id="submit" type="submit" value="Submit">
</form>
