<h2>Edit Comment</h2>
<%= button_to "Delete", subforum_post_comment_url(@subforum, @post, @comment), method: :delete %>
<p>Subforum: <%= @subforum.title %></p>

<h3>Post<h3>
<p><%= @post.title %></p>
<p><%= @post.url %></p>
<p><%= @post.body %></p>

<%= render "form", comment: @comment %>
