<section class="comments-new">
  <h2>New Comment</h2>
  <p>Subforum: <%= @subforum.title %></p>

  <section class="post">
    <h3>Original Post</h3>
    <p class="title"><%= @post.title %></p>
    <p class="url"><%= @post.url %></p>
    <p><%= @post.body %></p>
  </section>

  <%= render "form", comment: @comment %>

  <section class="errors">
    <%= render "shared/errors" %>
  </section>

  <%= link_to "See all comments", subforum_post_url(@subforum, @post) %>
</section>
