<section class="comments-new">
  <h2>New Comment</h2>
  <p>Subforum: <%= @subforum.title %></p>

  <section class="post">
    <h3>Original Post</h3>
    <p class="title"><%= @post.title %></p>
    <p class="url">URL: <a href="http://<%= @post.url %>"><%= @post.url %></a></p>
    <p><%= @post.body %></p>
  </section>

  <%= render "form", subforum: @subforum, post: @post, comment: @comment %>

  <section class="errors">
    <%= render "shared/errors" %>
  </section>
</section>
