<section class="comments-new">
  <h2>New Comment</h2>
  <p>Subforum: <%= @subforum.title %></p>

  <section class="post">
    <h3>Original Post</h3>
    <p class="title"><%= @post.title %></p>
    <% url = @post.url %>
    <% if url && url != "" %>
      <p class="url">URL: <a href="http://<%= url %>"><%= url %></a></p>
    <% else %>
      <p class="url">URL: None</p>
    <% end %>
    <p><%= @post.body %></p>
  </section>

  <%= render "form", subforum: @subforum, post: @post, comment: @comment %>

  <section class="errors">
    <%= render "shared/errors" %>
  </section>
</section>
