<h2><%= @comment.author.username %>'s Comment<h2>
<p>Subforum: <%= @subforum.title %></p>

<h3>Post<h3>
<p><%= @post.title %></p>
<p><%= @post.url %></p>
<p><%= @post.body %></p>

<h3>Comment</h3>
<p><%= @comment.body %></p>

<%= render "shared/errors" %>

<%= link_to "Edit comment", edit_subforum_post_comment_url(@subforum, @post, @comment) %>
<%= link_to "See all comments", subforum_post_url(@subforum, @post) %>

<h3>Responses</h3>


<%# TODO: Create a list of links to each of @comment's comments %>
