<section class="account-update">
  <h2>Update account details</h2>

  <form class="account-update-form" action="<%= user_url(@user) %>" method="POST">
    <%= auth_token %>
    <input type="hidden" name="_method" value="PATCH">

    <section class="input-field">
      <label for="first-name">First name</label>
      <input id="first-name" type="text" name="user[first_name]" value="<%= @user.first_name %>">
    </section>

    <section class="input-field">
      <label for="first-name">Last name</label>
      <input id="last-name" type="text" name="user[last_name]" value="<%= @user.last_name %>">
    </section>

    <section class="input-field">
      <label for="first-name">Email</label>
      <input id="email" type="text" name="user[email]" value="<%= @user.email %>">
    </section>

    <input id="submit" type="submit" value="Update account">
  </form>

  <section class="errors">
    <%= render "shared/errors" %>
  </section>

  <a href="<%= subforums_url %>">Subforums</a>
</section>
