<section class="sign-up">
  <h2>Sign Up</h2>
  <img src="<%= image_url('logo.png') %>">

  <form class="sign-up-form" action="<%= users_url %>" method="post">
    <%= auth_token %>

    <section class="input-field">
      <label for="first-name">First name</label>
      <input id="first-name" type="text" name="user[first_name]" value="">
    </section>

    <section class="input-field">
      <label for="last-name">Last name</label>
      <input id="last-name" type="text" name="user[last_name]" value="">
    </section>

    <section class="input-field">
      <label for="email">Email</label>
      <input id="email" type="text" name="user[email]" value="">
    </section>

    <section class="input-field">
      <label for="username">Username</label>
      <input id="username" type="text" name="user[username]" value="">
    </section>

    <section class="input-field">
      <label for="password">Password</label>
      <input id="password" type="password" name="user[password]" value="">
    </section>

    <input id="submit" type="submit" value="Sign up">
  </form>

  <section class="errors">
    <%= render "shared/errors" %>
  </section>
</section>

<form class="guest-button" action="<%= session_url %>" method="post">
  <%= auth_token %>

  <input type="hidden" name="user[username]" value="Guest">
  <input type="hidden" name="user[password]" value="123456">

  <input id="submit" type="submit" value= "Log in as Guest">
</form>
