<!-- for updating or creating a subforum -->

<% action_url = subforum.persisted? ? subforum_url(subforum) : subforums_url %>
<% http_method = subforum.persisted? ? "PATCH" : "POST" %>

<form action="<%= action_url %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="_method" value="<%= http_method %>">

  <section class="input-field">
    <label for="title">Title</label>
    <input id="title" type="text" name="subforum[title]" value="<%= subforum.title %>">
  </section>

  <label for="form-description">Description (Optional)</label>
  <textarea id="description" name="subforum[description]"><%= subforum.description %></textarea>

  <section class="buttons">
    <input id="submit" type="submit" value="Submit">
    <%= link_to "Cancel", request.referrer.present? ? request.referrer : default_path %>
  </section>
</form>

<section class="errors">
  <%= render "shared/errors" %>
</section>
