<% description = @subforum.description %>

<h2><%= @subforum.title %></h2>

<h3>Description</h3>
<p><%= description == "" ? "None" : description %></p>

<%= render "shared/errors" %>

<%= link_to "Edit subforum", edit_subforum_url(@subforum) %>
<%= link_to "See all subforums", subforums_url %>

<h3>Posts</h3>
<ul>
  <% @subforum.posts.each do |post| %>
    <li>
      <%= link_to post.title, subforum_post_url(post.subforum_id, post) %>
      <%= post.author.username %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a new post", new_subforum_post_url(subforum_id: @subforum.id) %>
