<!-- for updating and creating posts -->

<% action_url = post.persisted? ? subforum_post_url(post) : subforum_posts_url %>
<% http_method = post.persisted? ? "PATCH" : "POST" %>

<form action="<%= action_url %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="_method" value="<%= http_method %>">

  <section class="title-input-field">
    <label for="title">Title</label>
    <input id="title" type="text" name="post[title]" value="<%= post.title %>">
  </section>

  <section class="url-input-field">
    <label for="url">URL (Optional)</label>
    <input id="url" type="text" name="post[url]" value="<%= post.url %>">
  </section>

  <label for="body">Body</label>
  <textarea id="body" name="post[body]"><%= post.body %></textarea>

  <input id="submit" type="submit" value="Submit">
</form>

<section class="errors">
  <%= render "shared/errors" %>
</section>
